default_language_version:
  python: "3.12"
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/pdm-project/pdm
    rev: 2.11.1
    hooks:
      - id: pdm-lock-check
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.8"
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        exclude: ".all-contributorsrc"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1"
    hooks:
      - id: mypy
        exclude: "test_decimal_constraints|examples/fields/test_example_2|examples/configuration|tools/"
        additional_dependencies:
          [
            attrs>=22.2.0,
            beanie,
            faker,
            hypothesis,
            mongomock_motor,
            msgspec,
            odmantic<1,
            pydantic>=2,
            pytest,
            sphinx,
            sqlalchemy>=2,
          ]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.341
    hooks:
      - id: pyright
        exclude: "tests"
        additional_dependencies:
          [
            attrs>=22.2.0,
            beanie,
            faker,
            hypothesis,
            mongomock_motor,
            msgspec,
            odmantic<1,
            pydantic>=2,
            pytest,
            sphinx,
            sqlalchemy>=2,
          ]
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: "v0.9.1"
    hooks:
      - id: sphinx-lint
