default_language_version:
  python: "3.11"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.0.1"
    hooks:
      - id: mypy
        exclude: "test_decimal_constraints"
        additional_dependencies:
          [
            beanie,
            faker,
            hypothesis,
            mongomock_motor,
            odmantic,
            pydantic,
            pytest,
          ]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.296
    hooks:
      - id: pyright
        exclude: "test_decimal_constraints"
        additional_dependencies:
          [
            beanie,
            faker,
            hypothesis,
            mongomock_motor,
            odmantic,
            pydantic,
            pytest,
          ]
