:root {
--syntax-light-background: #282a36;
--syntax-light-highlight: #44475a;
--syntax-light-text: #F8F8F2;
--syntax-light-text-whitespace: #F8F8F2;
--syntax-light-comment: #6272A4;
--syntax-light-comment-preproc: #FF79C6;
--syntax-light-generic: #F8F8F2;
--syntax-light-generic-deleted: #8B080B;
--syntax-light-generic-emph: #F8F8F2;
--syntax-light-generic-heading: #F8F8F2;
--syntax-light-generic-inserted: #F8F8F2;
--syntax-light-generic-output: #44475A;
--syntax-light-generic-emphstrong: #F8F8F2;
--syntax-light-generic-subheading: #F8F8F2;
--syntax-light-error: #F8F8F2;
--syntax-light-keyword: #FF79C6;
--syntax-light-keyword-constant: #FF79C6;
--syntax-light-keyword-declaration: #8BE9FD;
--syntax-light-keyword-type: #8BE9FD;
--syntax-light-literal: #F8F8F2;
--syntax-light-name: #F8F8F2;
--syntax-light-name-attribute: #50FA7B;
--syntax-light-name-builtin: #8BE9FD;
--syntax-light-name-builtin-pseudo: #F8F8F2;
--syntax-light-name-class: #50FA7B;
--syntax-light-name-function: #50FA7B;
--syntax-light-name-label: #8BE9FD;
--syntax-light-name-tag: #FF79C6;
--syntax-light-name-variable: #8BE9FD;
--syntax-light-literal-number: #FFB86C;
--syntax-light-operator: #FF79C6;
--syntax-light-other: #F8F8F2;
--syntax-light-punctuation: #F8F8F2;
--syntax-light-literal-string: #BD93F9;
--syntax-light-keyword-namespace: #FF79C6;
--syntax-light-keyword-pseudo: #FF79C6;
--syntax-light-keyword-reserved: #FF79C6;
--syntax-light-name-constant: #F8F8F2;
--syntax-light-name-decorator: #F8F8F2;
--syntax-light-name-entity: #F8F8F2;
--syntax-light-name-exception: #F8F8F2;
--syntax-light-name-function-magic: #50FA7B;
--syntax-light-name-property: #F8F8F2;
--syntax-light-name-namespace: #F8F8F2;
--syntax-light-name-other: #F8F8F2;
--syntax-light-name-variable-class: #8BE9FD;
--syntax-light-name-variable-global: #8BE9FD;
--syntax-light-name-variable-instance: #8BE9FD;
--syntax-light-name-variable-magic: #8BE9FD;
--syntax-light-literal-date: #F8F8F2;
--syntax-light-literal-string-affix: #BD93F9;
--syntax-light-literal-string-backtick: #BD93F9;
--syntax-light-literal-string-char: #BD93F9;
--syntax-light-literal-string-delimiter: #BD93F9;
--syntax-light-literal-string-doc: #BD93F9;
--syntax-light-literal-string-double: #BD93F9;
--syntax-light-literal-string-escape: #BD93F9;
--syntax-light-literal-string-heredoc: #BD93F9;
--syntax-light-literal-string-interpol: #BD93F9;
--syntax-light-literal-string-other: #BD93F9;
--syntax-light-literal-string-regex: #BD93F9;
--syntax-light-literal-string-single: #BD93F9;
--syntax-light-literal-string-symbol: #BD93F9;
--syntax-light-literal-number-bin: #FFB86C;
--syntax-light-literal-number-float: #FFB86C;
--syntax-light-literal-number-hex: #FFB86C;
--syntax-light-literal-number-integer: #FFB86C;
--syntax-light-literal-number-integer-long: #FFB86C;
--syntax-light-literal-number-oct: #FFB86C;
--syntax-light-operator-word: #FF79C6;
--syntax-light-punctuation-marker: #F8F8F2;
--syntax-light-comment-hashbang: #6272A4;
--syntax-light-comment-multiline: #6272A4;
--syntax-light-comment-preprocfile: #6272A4;
--syntax-light-comment-single: #6272A4;
--syntax-light-comment-special: #6272A4;
--syntax-light-generic-error: #F8F8F2;
--syntax-light-generic-prompt: #F8F8F2;
--syntax-light-generic-strong: #F8F8F2;
--syntax-light-generic-traceback: #F8F8F2;
}
html.light .highlight .c { color: var(--syntax-light-comment) }
html.light .highlight .err { color: var(--syntax-light-error) }
html.light .highlight .g { color: var(--syntax-light-generic) }
html.light .highlight .k { color: var(--syntax-light-keyword) }
html.light .highlight .l { color: var(--syntax-light-literal) }
html.light .highlight .n { color: var(--syntax-light-name) }
html.light .highlight .o { color: var(--syntax-light-operator) }
html.light .highlight .x { color: var(--syntax-light-other) }
html.light .highlight .p { color: var(--syntax-light-punctuation) }
html.light .highlight .ch { color: var(--syntax-light-comment-hashbang) }
html.light .highlight .cm { color: var(--syntax-light-comment-multiline) }
html.light .highlight .cp { color: var(--syntax-light-comment-preproc) }
html.light .highlight .cpf { color: var(--syntax-light-comment-preprocfile) }
html.light .highlight .c1 { color: var(--syntax-light-comment-single) }
html.light .highlight .cs { color: var(--syntax-light-comment-special) }
html.light .highlight .gd { color: var(--syntax-light-generic-deleted) }
html.light .highlight .ge { color: var(--syntax-light-generic-emph); text-decoration: underline }
html.light .highlight .ges { color: var(--syntax-light-generic-emphstrong); text-decoration: underline }
html.light .highlight .gr { color: var(--syntax-light-generic-error) }
html.light .highlight .gh { color: var(--syntax-light-generic-heading); font-weight: bold }
html.light .highlight .gi { color: var(--syntax-light-generic-inserted); font-weight: bold }
html.light .highlight .go { color: var(--syntax-light-generic-output) }
html.light .highlight .gp { color: var(--syntax-light-generic-prompt) }
html.light .highlight .gs { color: var(--syntax-light-generic-strong) }
html.light .highlight .gu { color: var(--syntax-light-generic-subheading); font-weight: bold }
html.light .highlight .gt { color: var(--syntax-light-generic-traceback) }
html.light .highlight .kc { color: var(--syntax-light-keyword-constant) }
html.light .highlight .kd { color: var(--syntax-light-keyword-declaration); font-style: italic }
html.light .highlight .kn { color: var(--syntax-light-keyword-namespace) }
html.light .highlight .kp { color: var(--syntax-light-keyword-pseudo) }
html.light .highlight .kr { color: var(--syntax-light-keyword-reserved) }
html.light .highlight .kt { color: var(--syntax-light-keyword-type) }
html.light .highlight .ld { color: var(--syntax-light-literal-date) }
html.light .highlight .m { color: var(--syntax-light-literal-number) }
html.light .highlight .s { color: var(--syntax-light-literal-string) }
html.light .highlight .na { color: var(--syntax-light-name-attribute) }
html.light .highlight .nb { color: var(--syntax-light-name-builtin); font-style: italic }
html.light .highlight .nc { color: var(--syntax-light-name-class) }
html.light .highlight .no { color: var(--syntax-light-name-constant) }
html.light .highlight .nd { color: var(--syntax-light-name-decorator) }
html.light .highlight .ni { color: var(--syntax-light-name-entity) }
html.light .highlight .ne { color: var(--syntax-light-name-exception) }
html.light .highlight .nf { color: var(--syntax-light-name-function) }
html.light .highlight .nl { color: var(--syntax-light-name-label); font-style: italic }
html.light .highlight .nn { color: var(--syntax-light-name-namespace) }
html.light .highlight .nx { color: var(--syntax-light-name-other) }
html.light .highlight .py { color: var(--syntax-light-name-property) }
html.light .highlight .nt { color: var(--syntax-light-name-tag) }
html.light .highlight .nv { color: var(--syntax-light-name-variable); font-style: italic }
html.light .highlight .ow { color: var(--syntax-light-operator-word) }
html.light .highlight .pm { color: var(--syntax-light-punctuation-marker) }
html.light .highlight .w { color: var(--syntax-light-text-whitespace) }
html.light .highlight .mb { color: var(--syntax-light-literal-number-bin) }
html.light .highlight .mf { color: var(--syntax-light-literal-number-float) }
html.light .highlight .mh { color: var(--syntax-light-literal-number-hex) }
html.light .highlight .mi { color: var(--syntax-light-literal-number-integer) }
html.light .highlight .mo { color: var(--syntax-light-literal-number-oct) }
html.light .highlight .sa { color: var(--syntax-light-literal-string-affix) }
html.light .highlight .sb { color: var(--syntax-light-literal-string-backtick) }
html.light .highlight .sc { color: var(--syntax-light-literal-string-char) }
html.light .highlight .dl { color: var(--syntax-light-literal-string-delimiter) }
html.light .highlight .sd { color: var(--syntax-light-literal-string-doc) }
html.light .highlight .s2 { color: var(--syntax-light-literal-string-double) }
html.light .highlight .se { color: var(--syntax-light-literal-string-escape) }
html.light .highlight .sh { color: var(--syntax-light-literal-string-heredoc) }
html.light .highlight .si { color: var(--syntax-light-literal-string-interpol) }
html.light .highlight .sx { color: var(--syntax-light-literal-string-other) }
html.light .highlight .sr { color: var(--syntax-light-literal-string-regex) }
html.light .highlight .s1 { color: var(--syntax-light-literal-string-single) }
html.light .highlight .ss { color: var(--syntax-light-literal-string-symbol) }
html.light .highlight .bp { color: var(--syntax-light-name-builtin-pseudo); font-style: italic }
html.light .highlight .fm { color: var(--syntax-light-name-function-magic) }
html.light .highlight .vc { color: var(--syntax-light-name-variable-class); font-style: italic }
html.light .highlight .vg { color: var(--syntax-light-name-variable-global); font-style: italic }
html.light .highlight .vi { color: var(--syntax-light-name-variable-instance); font-style: italic }
html.light .highlight .vm { color: var(--syntax-light-name-variable-magic); font-style: italic }
html.light .highlight .il { color: var(--syntax-light-literal-number-integer-long) }
:root {
--syntax-dark-background: #0d1117;
--syntax-dark-highlight: #3fb95040;
--syntax-dark-text: #E6EDF3;
--syntax-dark-escape: #A5D6FF;
--syntax-dark-error: #FFA198;
--syntax-dark-keyword: #FF7B72;
--syntax-dark-keyword-constant: #79C0FF;
--syntax-dark-keyword-type: #FFA657;
--syntax-dark-name-attribute: #79C0FF;
--syntax-dark-name-builtin: #79C0FF;
--syntax-dark-name-class: #FFA657;
--syntax-dark-name-constant: #79C0FF;
--syntax-dark-name-decorator: #79C0FF;
--syntax-dark-name-entity: #79C0FF;
--syntax-dark-name-exception: #79C0FF;
--syntax-dark-name-function: #D2A8FF;
--syntax-dark-name-function-magic: #79C0FF;
--syntax-dark-name-property: #79C0FF;
--syntax-dark-name-label: #A5D6FF;
--syntax-dark-name-tag: #7EE787;
--syntax-dark-name-variable-class: #FFA657;
--syntax-dark-literal: #A5D6FF;
--syntax-dark-literal-string: #A5D6FF;
--syntax-dark-literal-string-affix: #FF7B72;
--syntax-dark-literal-string-backtick: #79C0FF;
--syntax-dark-literal-string-interpol: #FF7B72;
--syntax-dark-literal-string-regex: #A5D6FF;
--syntax-dark-literal-string-symbol: #79C0FF;
--syntax-dark-literal-number: #79C0FF;
--syntax-dark-operator: #FF7B72;
--syntax-dark-operator-word: #79C0FF;
--syntax-dark-comment: #8B949E;
--syntax-dark-comment-preproc: #FF7B72;
--syntax-dark-comment-preprocfile: #A5D6FF;
--syntax-dark-generic-deleted: #FFA198;
--syntax-dark-generic-emph: #E6EDF3;
--syntax-dark-generic-error: #FFA198;
--syntax-dark-generic-heading: #79C0FF;
--syntax-dark-generic-inserted: #7EE787;
--syntax-dark-generic-output: #A5D6FF;
--syntax-dark-generic-prompt: #FF7B72;
--syntax-dark-generic-strong: #E6EDF3;
--syntax-dark-generic-subheading: #79C0FF;
--syntax-dark-generic-emphstrong: #E6EDF3;
--syntax-dark-generic-traceback: #FFA198;
--syntax-dark-text-whitespace: #E6EDF3;
--syntax-dark-keyword-declaration: #FF7B72;
--syntax-dark-keyword-namespace: #FF7B72;
--syntax-dark-keyword-pseudo: #FF7B72;
--syntax-dark-keyword-reserved: #FF7B72;
--syntax-dark-name-builtin-pseudo: #79C0FF;
--syntax-dark-literal-date: #A5D6FF;
--syntax-dark-literal-string-char: #A5D6FF;
--syntax-dark-literal-string-delimiter: #A5D6FF;
--syntax-dark-literal-string-doc: #A5D6FF;
--syntax-dark-literal-string-double: #A5D6FF;
--syntax-dark-literal-string-escape: #A5D6FF;
--syntax-dark-literal-string-heredoc: #A5D6FF;
--syntax-dark-literal-string-other: #A5D6FF;
--syntax-dark-literal-string-single: #A5D6FF;
--syntax-dark-literal-number-bin: #79C0FF;
--syntax-dark-literal-number-float: #79C0FF;
--syntax-dark-literal-number-hex: #79C0FF;
--syntax-dark-literal-number-integer: #79C0FF;
--syntax-dark-literal-number-integer-long: #79C0FF;
--syntax-dark-literal-number-oct: #79C0FF;
--syntax-dark-comment-hashbang: #8B949E;
--syntax-dark-comment-multiline: #8B949E;
--syntax-dark-comment-single: #8B949E;
--syntax-dark-comment-special: #8B949E;
}
html.dark .highlight .c, html.light .dark-code .highlight .c { color: var(--syntax-dark-comment) }
html.dark .highlight .err, html.light .dark-code .highlight .err { color: var(--syntax-dark-error) }
html.dark .highlight .esc, html.light .dark-code .highlight .esc { color: var(--syntax-dark-escape) }
html.dark .highlight .k, html.light .dark-code .highlight .k { color: var(--syntax-dark-keyword) }
html.dark .highlight .l, html.light .dark-code .highlight .l { color: var(--syntax-dark-literal) }
html.dark .highlight .o, html.light .dark-code .highlight .o { color: var(--syntax-dark-operator) }
html.dark .highlight .ch, html.light .dark-code .highlight .ch { color: var(--syntax-dark-comment-hashbang) }
html.dark .highlight .cm, html.light .dark-code .highlight .cm { color: var(--syntax-dark-comment-multiline) }
html.dark .highlight .cp, html.light .dark-code .highlight .cp { color: var(--syntax-dark-comment-preproc) }
html.dark .highlight .cpf, html.light .dark-code .highlight .cpf { color: var(--syntax-dark-comment-preprocfile) }
html.dark .highlight .c1, html.light .dark-code .highlight .c1 { color: var(--syntax-dark-comment-single) }
html.dark .highlight .cs, html.light .dark-code .highlight .cs { color: var(--syntax-dark-comment-special) }
html.dark .highlight .gd, html.light .dark-code .highlight .gd { color: var(--syntax-dark-generic-deleted) }
html.dark .highlight .ge, html.light .dark-code .highlight .ge { color: var(--syntax-dark-generic-emph); font-style: italic }
html.dark .highlight .ges, html.light .dark-code .highlight .ges { color: var(--syntax-dark-generic-emphstrong); font-weight: bold; font-style: italic }
html.dark .highlight .gr, html.light .dark-code .highlight .gr { color: var(--syntax-dark-generic-error) }
html.dark .highlight .gh, html.light .dark-code .highlight .gh { color: var(--syntax-dark-generic-heading); font-weight: bold }
html.dark .highlight .gi, html.light .dark-code .highlight .gi { color: var(--syntax-dark-generic-inserted) }
html.dark .highlight .go, html.light .dark-code .highlight .go { color: var(--syntax-dark-generic-output) }
html.dark .highlight .gp, html.light .dark-code .highlight .gp { color: var(--syntax-dark-generic-prompt) }
html.dark .highlight .gs, html.light .dark-code .highlight .gs { color: var(--syntax-dark-generic-strong); font-weight: bold }
html.dark .highlight .gu, html.light .dark-code .highlight .gu { color: var(--syntax-dark-generic-subheading) }
html.dark .highlight .gt, html.light .dark-code .highlight .gt { color: var(--syntax-dark-generic-traceback) }
html.dark .highlight .kc, html.light .dark-code .highlight .kc { color: var(--syntax-dark-keyword-constant) }
html.dark .highlight .kd, html.light .dark-code .highlight .kd { color: var(--syntax-dark-keyword-declaration) }
html.dark .highlight .kn, html.light .dark-code .highlight .kn { color: var(--syntax-dark-keyword-namespace) }
html.dark .highlight .kp, html.light .dark-code .highlight .kp { color: var(--syntax-dark-keyword-pseudo) }
html.dark .highlight .kr, html.light .dark-code .highlight .kr { color: var(--syntax-dark-keyword-reserved) }
html.dark .highlight .kt, html.light .dark-code .highlight .kt { color: var(--syntax-dark-keyword-type) }
html.dark .highlight .ld, html.light .dark-code .highlight .ld { color: var(--syntax-dark-literal-date) }
html.dark .highlight .m, html.light .dark-code .highlight .m { color: var(--syntax-dark-literal-number) }
html.dark .highlight .s, html.light .dark-code .highlight .s { color: var(--syntax-dark-literal-string) }
html.dark .highlight .na, html.light .dark-code .highlight .na { color: var(--syntax-dark-name-attribute) }
html.dark .highlight .nb, html.light .dark-code .highlight .nb { color: var(--syntax-dark-name-builtin) }
html.dark .highlight .nc, html.light .dark-code .highlight .nc { color: var(--syntax-dark-name-class) }
html.dark .highlight .no, html.light .dark-code .highlight .no { color: var(--syntax-dark-name-constant) }
html.dark .highlight .nd, html.light .dark-code .highlight .nd { color: var(--syntax-dark-name-decorator) }
html.dark .highlight .ni, html.light .dark-code .highlight .ni { color: var(--syntax-dark-name-entity) }
html.dark .highlight .ne, html.light .dark-code .highlight .ne { color: var(--syntax-dark-name-exception) }
html.dark .highlight .nf, html.light .dark-code .highlight .nf { color: var(--syntax-dark-name-function) }
html.dark .highlight .nl, html.light .dark-code .highlight .nl { color: var(--syntax-dark-name-label) }
html.dark .highlight .py, html.light .dark-code .highlight .py { color: var(--syntax-dark-name-property) }
html.dark .highlight .nt, html.light .dark-code .highlight .nt { color: var(--syntax-dark-name-tag) }
html.dark .highlight .ow, html.light .dark-code .highlight .ow { color: var(--syntax-dark-operator-word) }
html.dark .highlight .w, html.light .dark-code .highlight .w { color: var(--syntax-dark-text-whitespace) }
html.dark .highlight .mb, html.light .dark-code .highlight .mb { color: var(--syntax-dark-literal-number-bin) }
html.dark .highlight .mf, html.light .dark-code .highlight .mf { color: var(--syntax-dark-literal-number-float) }
html.dark .highlight .mh, html.light .dark-code .highlight .mh { color: var(--syntax-dark-literal-number-hex) }
html.dark .highlight .mi, html.light .dark-code .highlight .mi { color: var(--syntax-dark-literal-number-integer) }
html.dark .highlight .mo, html.light .dark-code .highlight .mo { color: var(--syntax-dark-literal-number-oct) }
html.dark .highlight .sa, html.light .dark-code .highlight .sa { color: var(--syntax-dark-literal-string-affix) }
html.dark .highlight .sb, html.light .dark-code .highlight .sb { color: var(--syntax-dark-literal-string-backtick) }
html.dark .highlight .sc, html.light .dark-code .highlight .sc { color: var(--syntax-dark-literal-string-char) }
html.dark .highlight .dl, html.light .dark-code .highlight .dl { color: var(--syntax-dark-literal-string-delimiter) }
html.dark .highlight .sd, html.light .dark-code .highlight .sd { color: var(--syntax-dark-literal-string-doc) }
html.dark .highlight .s2, html.light .dark-code .highlight .s2 { color: var(--syntax-dark-literal-string-double) }
html.dark .highlight .se, html.light .dark-code .highlight .se { color: var(--syntax-dark-literal-string-escape) }
html.dark .highlight .sh, html.light .dark-code .highlight .sh { color: var(--syntax-dark-literal-string-heredoc) }
html.dark .highlight .si, html.light .dark-code .highlight .si { color: var(--syntax-dark-literal-string-interpol) }
html.dark .highlight .sx, html.light .dark-code .highlight .sx { color: var(--syntax-dark-literal-string-other) }
html.dark .highlight .sr, html.light .dark-code .highlight .sr { color: var(--syntax-dark-literal-string-regex) }
html.dark .highlight .s1, html.light .dark-code .highlight .s1 { color: var(--syntax-dark-literal-string-single) }
html.dark .highlight .ss, html.light .dark-code .highlight .ss { color: var(--syntax-dark-literal-string-symbol) }
html.dark .highlight .bp, html.light .dark-code .highlight .bp { color: var(--syntax-dark-name-builtin-pseudo) }
html.dark .highlight .fm, html.light .dark-code .highlight .fm { color: var(--syntax-dark-name-function-magic) }
html.dark .highlight .vc, html.light .dark-code .highlight .vc { color: var(--syntax-dark-name-variable-class) }
html.dark .highlight .il, html.light .dark-code .highlight .il { color: var(--syntax-dark-literal-number-integer-long) }
